<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="registroForm">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
  </form>  
  <ion-button expand="block"(click)="creaCuenta()">Crear</ion-button>
</ion-content>
